#hamburger {
    display: none;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
