#hamburger {
    display: none;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


@media (max-width: 768px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .temple-grid {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}